{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://sochi-2",
      "useLocalAssets": true
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/sochi5.mycapitalland.ru",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".htaccess",
          "mtimeMs": 1623145896527.4072,
          "date": "2021-06-23T11:22:02.497Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1585921556499.0002,
          "date": "2021-06-23T11:22:03.087Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1585921575154.585,
          "date": "2021-06-23T11:22:03.619Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1617689353535.0193,
          "date": "2021-06-23T11:22:04.394Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1624447286612.6777,
          "date": "2021-06-23T11:22:05.568Z"
        },
        {
          "file": "fonts/Geometria.eot",
          "mtimeMs": 1606795376000,
          "date": "2021-06-23T11:22:10.361Z"
        },
        {
          "file": "fonts/Geometria.svg",
          "mtimeMs": 1606795376000,
          "date": "2021-06-23T11:22:11.830Z"
        },
        {
          "file": "fonts/Geometria.ttf",
          "mtimeMs": 1606795376000,
          "date": "2021-06-23T11:22:12.506Z"
        },
        {
          "file": "fonts/Geometria.woff",
          "mtimeMs": 1606795376000,
          "date": "2021-06-23T11:22:13.131Z"
        },
        {
          "file": "fonts/Geometria.woff2",
          "mtimeMs": 1606795378000,
          "date": "2021-06-23T11:22:13.757Z"
        },
        {
          "file": "fonts/GeometriaBold.eot",
          "mtimeMs": 1606795400000,
          "date": "2021-06-23T11:22:14.583Z"
        },
        {
          "file": "fonts/GeometriaBold.svg",
          "mtimeMs": 1606795400000,
          "date": "2021-06-23T11:22:15.611Z"
        },
        {
          "file": "fonts/GeometriaBold.ttf",
          "mtimeMs": 1606795400000,
          "date": "2021-06-23T11:22:16.661Z"
        },
        {
          "file": "fonts/GeometriaBold.woff",
          "mtimeMs": 1606795400000,
          "date": "2021-06-23T11:22:17.219Z"
        },
        {
          "file": "fonts/GeometriaBold.woff2",
          "mtimeMs": 1606795400000,
          "date": "2021-06-23T11:22:18.130Z"
        },
        {
          "file": "fonts/GeometriaHeavy.eot",
          "mtimeMs": 1606795412000,
          "date": "2021-06-23T11:22:18.727Z"
        },
        {
          "file": "fonts/GeometriaHeavy.svg",
          "mtimeMs": 1606795412000,
          "date": "2021-06-23T11:22:20.247Z"
        },
        {
          "file": "fonts/GeometriaHeavy.ttf",
          "mtimeMs": 1606795410000,
          "date": "2021-06-23T11:22:20.816Z"
        },
        {
          "file": "fonts/GeometriaHeavy.woff",
          "mtimeMs": 1606795412000,
          "date": "2021-06-23T11:22:21.326Z"
        },
        {
          "file": "fonts/GeometriaHeavy.woff2",
          "mtimeMs": 1606795412000,
          "date": "2021-06-23T11:22:21.905Z"
        },
        {
          "file": "fonts/Muller.eot",
          "mtimeMs": 1602570977772.319,
          "date": "2021-06-23T11:22:25.912Z"
        },
        {
          "file": "fonts/Muller.svg",
          "mtimeMs": 1602570977512.461,
          "date": "2021-06-23T11:22:26.574Z"
        },
        {
          "file": "fonts/Muller.ttf",
          "mtimeMs": 1602570980912.4077,
          "date": "2021-06-23T11:22:27.549Z"
        },
        {
          "file": "fonts/Muller.woff",
          "mtimeMs": 1602570982188.5974,
          "date": "2021-06-23T11:22:28.063Z"
        },
        {
          "file": "fonts/Muller.woff2",
          "mtimeMs": 1602570980510.9023,
          "date": "2021-06-23T11:22:28.521Z"
        },
        {
          "file": "fonts/MullerLight.eot",
          "mtimeMs": 1624231656000,
          "date": "2021-06-23T11:22:29.030Z"
        },
        {
          "file": "fonts/MullerLight.svg",
          "mtimeMs": 1624231656000,
          "date": "2021-06-23T11:22:29.640Z"
        },
        {
          "file": "fonts/MullerLight.ttf",
          "mtimeMs": 1624231656000,
          "date": "2021-06-23T11:22:30.564Z"
        },
        {
          "file": "fonts/MullerLight.woff",
          "mtimeMs": 1624231656000,
          "date": "2021-06-23T11:22:31.324Z"
        },
        {
          "file": "fonts/MullerLight.woff2",
          "mtimeMs": 1624231656000,
          "date": "2021-06-23T11:22:31.899Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1624444651398.7354,
          "date": "2021-06-23T11:22:35.494Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1620234254920.9028,
          "date": "2021-06-23T11:22:38.330Z"
        },
        {
          "file": "img/icons/telegram.png",
          "mtimeMs": 1624259446609.3972,
          "date": "2021-06-23T11:22:39.682Z"
        },
        {
          "file": "img/images/logo-black.png",
          "mtimeMs": 1624336407271.9128,
          "date": "2021-06-23T11:22:46.975Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1624277216990.3403,
          "date": "2021-06-23T11:22:53.298Z"
        },
        {
          "file": "date/date.php",
          "mtimeMs": 1624084927115.4343,
          "date": "2021-06-23T11:22:06.190Z"
        },
        {
          "file": "fonts/AkrobatBold.eot",
          "mtimeMs": 1624168136000,
          "date": "2021-06-23T11:22:06.796Z"
        },
        {
          "file": "fonts/AkrobatBold.svg",
          "mtimeMs": 1624168136000,
          "date": "2021-06-23T11:22:07.526Z"
        },
        {
          "file": "fonts/AkrobatBold.ttf",
          "mtimeMs": 1624168136000,
          "date": "2021-06-23T11:22:08.120Z"
        },
        {
          "file": "fonts/AkrobatBold.woff",
          "mtimeMs": 1624168136000,
          "date": "2021-06-23T11:22:08.751Z"
        },
        {
          "file": "fonts/AkrobatBold.woff2",
          "mtimeMs": 1624168136000,
          "date": "2021-06-23T11:22:09.510Z"
        },
        {
          "file": "fonts/GeometriaLight.eot",
          "mtimeMs": 1618953840000,
          "date": "2021-06-23T11:22:22.994Z"
        },
        {
          "file": "fonts/GeometriaLight.svg",
          "mtimeMs": 1618953840000,
          "date": "2021-06-23T11:22:23.675Z"
        },
        {
          "file": "fonts/GeometriaLight.ttf",
          "mtimeMs": 1618953840000,
          "date": "2021-06-23T11:22:24.380Z"
        },
        {
          "file": "fonts/GeometriaLight.woff",
          "mtimeMs": 1618953840000,
          "date": "2021-06-23T11:22:24.915Z"
        },
        {
          "file": "fonts/GeometriaLight.woff2",
          "mtimeMs": 1618953842000,
          "date": "2021-06-23T11:22:25.367Z"
        },
        {
          "file": "img/backs/author.png",
          "mtimeMs": 1624336268887.6438,
          "date": "2021-06-23T11:22:33.444Z"
        },
        {
          "file": "img/backs/clouds.png",
          "mtimeMs": 1624336263790.1008,
          "date": "2021-06-23T11:22:34.153Z"
        },
        {
          "file": "img/backs/footer.png",
          "mtimeMs": 1624444644218.0298,
          "date": "2021-06-23T11:22:34.811Z"
        },
        {
          "file": "img/backs/video.png",
          "mtimeMs": 1624336233699.5203,
          "date": "2021-06-23T11:22:36.978Z"
        },
        {
          "file": "img/icons/soc-links.png",
          "mtimeMs": 1617818969345.9126,
          "date": "2021-06-23T11:22:39.015Z"
        },
        {
          "file": "img/images/airballoon.png",
          "mtimeMs": 1624336467660.4204,
          "date": "2021-06-23T11:22:40.871Z"
        },
        {
          "file": "img/images/ambrella.png",
          "mtimeMs": 1624444808132.2402,
          "date": "2021-06-23T11:22:41.536Z"
        },
        {
          "file": "img/images/author-img.png",
          "mtimeMs": 1624336455954.9954,
          "date": "2021-06-23T11:22:42.038Z"
        },
        {
          "file": "img/images/author-logo.png",
          "mtimeMs": 1624336448788.5554,
          "date": "2021-06-23T11:22:42.607Z"
        },
        {
          "file": "img/images/ball.png",
          "mtimeMs": 1624336441165.4175,
          "date": "2021-06-23T11:22:43.211Z"
        },
        {
          "file": "img/images/birds.png",
          "mtimeMs": 1624444793744.1438,
          "date": "2021-06-23T11:22:43.969Z"
        },
        {
          "file": "img/images/glasses.png",
          "mtimeMs": 1624336431679.9211,
          "date": "2021-06-23T11:22:44.616Z"
        },
        {
          "file": "img/images/laptop-video.png",
          "mtimeMs": 1624336641619.413,
          "date": "2021-06-23T11:22:45.378Z"
        },
        {
          "file": "img/images/man.png",
          "mtimeMs": 1624336399349.5374,
          "date": "2021-06-23T11:22:48.609Z"
        },
        {
          "file": "img/images/money.png",
          "mtimeMs": 1624444773540.7385,
          "date": "2021-06-23T11:22:49.311Z"
        },
        {
          "file": "img/images/stars.png",
          "mtimeMs": 1624336367367.196,
          "date": "2021-06-23T11:22:50.982Z"
        },
        {
          "file": "img/images/tube.png",
          "mtimeMs": 1624444764374.573,
          "date": "2021-06-23T11:22:51.451Z"
        },
        {
          "file": "img/images/yuriy.png",
          "mtimeMs": 1624336354482.845,
          "date": "2021-06-23T11:22:52.068Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1624278514678.118,
          "date": "2021-06-23T11:22:52.842Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1624444176393.229,
          "date": "2021-06-23T11:22:04.923Z"
        },
        {
          "file": "img/images/main.png",
          "mtimeMs": 1624444784268.9048,
          "date": "2021-06-23T11:22:47.994Z"
        },
        {
          "file": "404/index.html",
          "mtimeMs": 1624449165191.3396,
          "date": "2021-06-23T11:53:07.314Z"
        },
        {
          "file": "confirmed/index.html",
          "mtimeMs": 1624448863043.4624,
          "date": "2021-06-23T11:53:07.716Z"
        },
        {
          "file": "css/confirmed.min.css",
          "mtimeMs": 1624449083124.5337,
          "date": "2021-06-23T11:53:08.167Z"
        },
        {
          "file": "css/thanks.min.css",
          "mtimeMs": 1624448228343.8494,
          "date": "2021-06-23T11:53:08.623Z"
        },
        {
          "file": "img/icons/confirm.png",
          "mtimeMs": 1624448750291.9387,
          "date": "2021-06-23T11:53:09.095Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1624448153027.6797,
          "date": "2021-06-23T11:53:09.582Z"
        },
        {
          "file": "img/images/laptop.png",
          "mtimeMs": 1617818991198.4316,
          "date": "2021-06-23T11:53:10.113Z"
        },
        {
          "file": "js/thanks.js",
          "mtimeMs": 1618975046343.1528,
          "date": "2021-06-23T11:53:10.545Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1624448140858.2651,
          "date": "2021-06-23T11:53:10.969Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/confirmed.pug",
        "config": {
          "customOutput": "confirmed\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.php"
        }
      },
      {
        "file": "_app/styl/conf.min.styl",
        "config": {
          "customOutput": "css\\confirmed.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "_app/styl/thanks.min.styl",
        "config": {
          "customOutput": "css\\thanks.min.css"
        }
      },
      {
        "file": "_app/thanks.pug",
        "config": {
          "customOutput": "thanks\\index.html"
        }
      }
    ]
  }
}
