header
	.container
		.logo
			a.logo-link(href="https://mycapitalland.ru/")
				+imgs('logo-link-img','img/images/logo-black.png','Логотип')
			p.logo-text Инвестиционный холдинг 
				br
				| «Мой капитал»
		.header-nav
			.logo.logo-mobile
				a.logo-link(href="https://mycapitalland.ru/")
					+imgs('logo-link-img','img/images/logo-black.png','Логотип')
				p.logo-text Инвестиционный холдинг 
					br
					| «Мой капитал»
			.contacts
				.contact.contact-tg.hide
					p.contact-text Присоединяйтесь
					a.contact-link(href="http://t.me/mycapitalbot" target="_blank") Telegram-канал
				.contact.contact-phone
					p.contact-text Позвонить нам
					a.contact-link(href="tel:+74950230110" target="_blank") +7 (495) 023-01-10
	.mobile-menu
		.mobile-menu-line.mobile-menu-line-1
		.mobile-menu-line.mobile-menu-line-2
		.mobile-menu-line.mobile-menu-line-3