.white-popup
	width 100%
	max-width 570px
	margin 0 auto
	position relative
.mfp-close
	opacity 1
	position absolute
	top 10px
	right 10px
	transition: all .2s ease
	font-size: 40px
	font-family: GM
	font-weight: 900
	&:active
		top 10px
	&:hover
		color red
.input.input-mail-modal
.button-form.button-form-modal
.checking.checking-modal
	max-width 380px