GM = 'Geometria', sans-serif;
M = 'Muller', sans-serif;
AB = 'Akrobat', sans-serif;

@font-face
	font-family: 'Geometria';
	font-display: fallback;
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/GeometriaLight.eot');
	src: url('../fonts/GeometriaLight.eot') format('embedded-opentype'),url('../fonts/GeometriaLight.woff2') format('woff2'),url('../fonts/GeometriaLight.woff') format('woff'),url('../fonts/GeometriaLight.ttf') format('truetype'),url('../fonts/GeometriaLight.svg#GeometriaLight') format('svg');
@font-face
	font-family: 'Geometria';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Geometria.eot');
	src: url('../fonts/Geometria.eot') format('embedded-opentype'),url('../fonts/Geometria.woff2') format('woff2'),url('../fonts/Geometria.woff') format('woff'),url('../fonts/Geometria.ttf') format('truetype'),url('../fonts/Geometria.svg#Geometria') format('svg');
@font-face
	font-family: 'Geometria';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/GeometriaBold.eot');
	src: url('../fonts/GeometriaBold.eot') format('embedded-opentype'),url('../fonts/GeometriaBold.woff2') format('woff2'),url('../fonts/GeometriaBold.woff') format('woff'),url('../fonts/GeometriaBold.ttf') format('truetype'),url('../fonts/GeometriaBold.svg#GeometriaBold') format('svg');
@font-face
	font-family: 'Geometria';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/GeometriaHeavy.eot');
	src: url('../fonts/GeometriaHeavy.eot') format('embedded-opentype'),url('../fonts/GeometriaHeavy.woff2') format('woff2'),url('../fonts/GeometriaHeavy.woff') format('woff'),url('../fonts/GeometriaHeavy.ttf') format('truetype'),url('../fonts/GeometriaHeavy.svg#GeometriaHeavy') format('svg');
@font-face
	font-family: 'Akrobat';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/AkrobatBold.eot');
	src: url('../fonts/AkrobatBold.eot') format('embedded-opentype'),url('../fonts/AkrobatBold.woff2') format('woff2'),url('../fonts/AkrobatBold.woff') format('woff'),url('../fonts/AkrobatBold.ttf') format('truetype'),url('../fonts/AkrobatBold.svg#AkrobatBold') format('svg');
@font-face
	font-family: 'Muller';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Muller.eot');
	src: url('../fonts/Muller.eot') format('embedded-opentype'),url('../fonts/Muller.woff2') format('woff2'),url('../fonts/Muller.woff') format('woff'),url('../fonts/Muller.ttf') format('truetype'),url('../fonts/Muller.svg#Muller') format('svg');
@font-face
	font-family: 'Muller';
	font-display: fallback;
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/MullerLight.eot');
	src: url('../fonts/MullerLight.eot') format('embedded-opentype'),url('../fonts/MullerLight.woff2') format('woff2'),url('../fonts/MullerLight.woff') format('woff'),url('../fonts/MullerLight.ttf') format('truetype'),url('../fonts/MullerLight.svg#MullerLight') format('svg');