mBr = #cc922f

*
	margin 0
	padding 0
	outline none
body
	font-size: 18px
	font-family: GM
	font-weight: normal
	color #000
	background-color #fff
	line-height: 1.5
	@media screen and (min-width 2295px)
		font-size: 20px
// @media (min-width:768px)
// 	.container
// 		width: 750px
// @media (min-width:992px)
// 	.container
// 		width: 970px
.container
	// width 100%
	// max-width 1200px
	position relative
	@media screen and (min-width 2295px)
		max-width 1400px
a
	color: #000
	&:focus
		outline: 0
		text-decoration none
	&:hover
		text-decoration none
h1, h2, h3, h4, h5, h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.wrapper
	overflow hidden