section#author
	.container
		.row
			.col-md-6
				+imgs('author-logo', 'img/images/author-logo.png', 'Логотип')
				.author-container
					+imgs('author-container-img', 'img/images/author-img.png', 'Лепестки')
					.general-wrapper
						h4.author-title
							small Ведущий онлайн-встречи
							| Юрий Медушенко
						ul.general-wrapper-list
							li Соучредитель Клуба Инвесторов «Мой капитал»
							li Инвестор с успешным опытом реализации проектов на сумму более 1,8 млрд. рублей
							li Эксперт №1 в сфере доходных домов России
							li Серийный предприниматель
			.col-md-6
				.author-img
					+imgs('', 'img/images/yuriy.png', 'Юрий Медушенко')